.customise-wrapper {
    display: flex;
    position: relative;
    width: 55%;
}

.customise-panel-container {
    flex: 1;
    width: 100%;
    position: relative;
}

.customise-panel-price-estimator {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 12em;
    width: 35%;
}

.customise-container .customise-header {
    margin: 0.5em 0;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
}

.customise-input-label {
    font-size: 1.8em;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    margin-bottom: 0;
    color: #000000cc;
    margin-right: 1em;
    margin-left: 0.2em;
}

.customise-input-container {
    margin: 0 0 1em 0;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.cusomise-price-total-mobile-container {
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
}

.customise-total-price-container {
    width: 100%;
}

.cta-button-mobile-container {
    flex: 1;
}

.estimatetable-mobile-container {
    background-color: #ffbf00;
    padding: 0.5em 1em;
    box-shadow: 0 2px 10px #00000080;
    font-size: 1.4em;
    flex: 1 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customise-price-total-text {
    margin: 0;
    font-size: 1.2em;
}

.cusomise-price-total-mobile-wrapper {
    display: flex;
    flex-direction: row;
}

.customise-header-input {
    border-radius: 1em;
    line-height: 3em;
    border: none;
    text-indent: 1em;
    width: 50%;
    font-size: 1.2em;
    font-weight: 700;
}

.cusomise-price-total-mobile-seperator {
    height: 5em;
}

@media only screen and (min-width: 700px) {
    .customise-container .customise-header {
        font-size: 2em;
    }

    .customise-input-label {
        font-size: 1.8em;
    }

    .customise-price-total-text {
        font-size: 1.5em;
    }
}


@media only screen and (min-width: 1200px) {
    .cusomise-price-total-mobile-container {
        display: none;
    }

    .customise-wrapper {
        gap: 2em;
    }

    .cusomise-price-total-mobile-seperator {
        height: 0.5em;
    }
}


@media only screen and (max-width: 1536px) {
    .customise-panel-price-estimator {
        right: 5em;
    }
}

@media only screen and (max-width: 1315px) {
    .cta-button {
        font-size: 0.8em;
    }

}

@media only screen and (max-width: 1200px) {
    .customise-wrapper {
        flex-direction: column;
    }

    .customise-input-container {
        justify-content: left;
    }

    .customise-total-price-container-table {
        display: none;
    }

    .customise-panel-price-estimator {
        width: 100%;
    }

    .customise-panel-price-estimator {
        position: static;
    }

    .customise-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 820px) {
    .customise-input-container {
        flex-direction: column;
    }
}


@media only screen and (max-width: 1770px) and (min-width: 1200px) {
    .customise-input-container {
        flex-direction: column;
    }
}