.main-container {
    background-image: url("../../assets/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.logoimg {
    width: 100%;
    padding: 3em 0em;
    margin: 0;
    height: fit-content;
}


@media screen and (max-width: 600px) {
    .main-container {
        background-image: none;
        background-color: #454545;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .center-align {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
}